.contenedor {
    display: flex;
    flex-direction:row;
    justify-content: space-between; /*Para el eje principal*/
    flex-wrap: no-wrap;
    align-items: center; /*Para el eje transversal*/
    background-color: rgba(0, 0, 0, 0.5);
    /*align-content: center; /*Para controlar las líneas flexibles sobre el eje transversal, por defecto esta stretch*/
}

.caja-1 {
    background-color: blue;
    font-size: 85px;
    color: white;
    /*Estas 3 siempre van juntas*/
    flex-basis: 900px;
    flex-grow: 1;
    flex-shrink: 1;
    /*Atajo*/
    /*flex: 900px 1 1; /*flex-basis, flex-grow y flex-shrink*/
}

.caja-2 {
    background-color: red;
    font-size: 85px;
    color: white;
    flex-basis: 900px;
    flex-grow: 2;
    flex-shrink: 2;
}

.caja-3 {
    background-color: orange;
    font-size: 85px;
    color: white;
    flex-basis: 900px;
    flex-grow: 1;
    flex-shrink: 1;
}

.caja-4 {
    width: 500px;
    background-color: pink;
    font-size: 85px;
    color: white;
    order: -1;
}

.caja-5 {
    width: 500px;
    background-color: darkcyan;
    font-size: 85px;
    color: white;
}

.caja-6 {
    width: 500px;
    background-color: forestgreen;
    font-size: 85px;
    color: white;
}